{{#if currentUser}}
<div>
  {{this.firstName}}
</div>
<div class="row">
  <!-- ARTICLES -->
  <div class="col-lg-6">
    <h1>Articles</h1>
    All articles posted by user
    {{#each articles}}
      <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.desc}}</p>
            <div class="text-right">
              {{#if currentUser}}
                <a href="/articles/new" class="btn btn-info">New Article</a>
              {{/if}}
                <a href="/articles/{{this.id}}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {{/each}}
  </div>
</div>
{{else}}
<h1>You don't have an account</h1>
<a href="/sign-up">Sign up</a> or <a href="login">Login</a> here!
{{/if}}
