<!-- events-index -->
  <div class="jumbotron">
    <h1>Welcome to MovieCentral!</h1>
    Here you can search up movies and their corresponding ratings, comments and view count! If you can't find your favorite movie, you can add it below.
  </div>
  <div class="row mt-4">
    <div class="col-lg-3">
      <h1>Ratings</h1>
      <br>
      {{#each ratings}}
       <div class="card mt-3">
           <div class="card-body">
             <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
             <p class="card-text">{{this.desc}}</p>
             <div class="text-right">
               <!-- {{#if currentUser}}
                 <a href="/movies/{{this.id}}/ratings/new" class="btn btn-info">Reply</a>
               {{/if}}
                 <a href="/movies/{{this.id}}" class="btn btn-primary">Like</a> -->
             </div>
           </div>
         </div>
       {{/each}}
    </div>

    <div class="col-lg-6">
        <h1>Movies</h1>
        <a href="/movies/new">New Movie</a>
        {{#each movies}}
          <div class="card mt-3">
            <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.desc}}</p>
                <div class="text-right">
                  {{#if currentUser}}
                    <a href="/movies/{{this.id}}/ratings/new" class="btn btn-info">Rate</a>
                  {{/if}}
                    <a href="/movies/{{this.id}}" class="btn btn-primary">View</a>
                </div>

                <h5 class="card-title">Ratings</h5>
                {{#each movie.Ratings}}
                  <div>
                    <div>
                      <h5>{{this.firstName}} {{this.lastName}}</h5>
                      <p>{{this.desc}}</p>
                      <div>
                        {{#if currentUser}}
                          <a href="/movies/{{this.id}}/ratings/new" class="btn btn-info">Reply</a>
                        {{/if}}
                          <a href="/movies/{{this.id}}" class="btn btn-primary">Like</a>
                      </div>
                    </div>
                  </div>
              </div>
              {{/each}}
            </div>
          {{/each}}
     </div>

     <div class="col-lg-3">
       <h1>Articles</h1>
     </div>
 </div>
