<!-- movies-index -->
  <div class="jumbotron">
    <h1 class="text-dark">Welcome to <a class="text-dark" href="/admin">MovieCentral!</a></h1>
    MovieCentral is the #1 source of finding movies - both classics and originals. Here you can search up movies and their corresponding ratings, as well as post articles pertaining to the entertainment and movie industry. If you can't find your favorite movie, you can add it below.
  </div>
  <div class="row mt-4">
    <div>
        <h1>Movies</h1>
        <a href="/movies/new">New Movie</a>
        {{#if movies}}
          <div class="row">
          {{#each movies}}
            <div class="col card mt-3">
              <img class="card-img-top w-100" src="{{this.imgUrl}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.desc}}</p>
                  <div class="text-right">
                    {{#if currentUser}}
                      <a href="/movies/{{this.id}}/ratings/new" class="btn btn-info">Rate</a>
                      {{/if}}
                      <a href="/movies/{{this.id}}" class="btn btn-primary">View</a>
                  </div>
                </div>
              </div>
          {{/each}}
        </div>
          {{else}}
            <div>There's no movies to display! Create a new one.
            </div>
          {{/if}}
     </div>
 </div>
